fastapi
uvicorn
python-dotenv
python-multipart

passlib[bcrypt]
bcrypt==4.0.1

python-jose
pydantic

groq

pypdf

sentence-transformers
faiss-cpu
rapidfuzz

langdetect
googletrans-py==4.0.0

numpy
tqdm
