fastapi
uvicorn[standard]
python-dotenv
python-multipart

passlib[bcrypt]
bcrypt==4.0.1

python-jose
pydantic

groq==0.28.0
pypdf

sentence-transformers
faiss-cpu

langdetect
googletrans==4.0.0

numpy
tqdm
